.navbar {
    background-color: #ED161F;
    box-shadow: 0 0 4px 0 slategray;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #00308F ;
}
.navList {
    list-style-type: none;
    display: flex;
}
.navItem {
    display: flex;
}
.appLogo,
.navLink {
    color: seashell;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    font-size: 18px;
    transition: 150ms;
}
.navLink {
    font-weight: 500;
}
.appLogo {
    font-size: 24px;
    font-weight: 700;
}
.appLogo:hover,
.navLink:hover {
    background-color: white;
    color: #084897;
}